<nav class="navbar navbar-dark bg-dark">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between items-center h-16">

      <h1 class="text-2xl font-extrabold tracking-wider uppercase text-black-400">
        Account Mate
      </h1>

      <div class="flex space-x-6">
        <a href="/transaction" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium transition duration-150 ease-in-out">
          Create New Transaction
        </a>
        <a href="/transactions" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium transition duration-150 ease-in-out">
          All Transactions
        </a>
        <a href="/suppliers" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium transition duration-150 ease-in-out">
          All Suppliers
        </a>
                <a href="/supplier/report" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium transition duration-150 ease-in-out">
          Get Supplier Report
        </a>
                        <a href="/balances-report" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium transition duration-150 ease-in-out">
          Get Supplier Balance Report
        </a>
      </div>

    </div>
  </div>
</nav>