<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
    
  </head>
  <body>
    <div class="container">
      <h2 class="text-center mb-4" id="formTitle">Create Transaction</h2>
      <form id="transactionForm"></form>
    </div>

    <%- include('partials/toastContainer') %>
    <%- include('partials/confirmModal') %>

    <%- include('partials/scripts') %>

    <script src="/js/transactionMain.js"></script>

  </body>
</html>
